<?xml version="1.0"?>

<launch>
  <!-- Main launch file -->

  <!-- Nordic controller -->
  <include file="src/nordic_node/launch/nordic.launch">
    <arg name="dev" value="/dev/ttyACM0"/>
    <arg name="baud" value="115200"/>
    <arg name="camera_topic" value="camera_image"/>
    <arg name="hector_topic" value="hector_image"/>
    <arg name="maestro_topic" value="recv_data_maestro"/>
    <arg name="roboclaw_topic" value="recv_data_roboclaw"/>
    <arg name="jpeg_quality_level" value="40"/>
  </include>

  <include file="src/joy_node/launch/joy_node.launch">
    <arg name="twist_topic" value="joy_twist"/>
    <arg name="empty_topic" value="joy_empty"/>
    <arg name="update_rate" value="500"/>
    <arg name="a_down_minimum_delta" value="2000"/>
  </include>

</launch>
