<?xml version="1.0"?>

<launch>
  <!-- Main launch file -->

  <!-- Nordic controller -->
  <include file="src/nordic_node/launch/camera_test.launch">
    <arg name="dev" value="/dev/ttyACM0"/>
    <arg name="baud" value="115200"/>
    <arg name="camera_topic" value="recv_image_camera"/>
  </include>

  <!-- image views for incoming images -->

  <node name="image_view" pkg="image_view" type="image_view" output="screen">
    <remap from="image" to="/recv_image_camera" />
    <param name="image_transport" value="compressed"/>
  </node>

</launch>
