<?xml version="1.0"?>

<launch>
  <!-- Main launch file -->

  <!-- Nordic controller -->
  <include file="src/nordic_node/launch/nordic.launch">
    
    <arg name="dev" value="/dev/ttyACM0"/>
    <arg name="baud" value="115200"/>
    <arg name="twist_topic" value="joy_twist"/>
    <arg name="empty_topic" value="joy_empty"/>
    <arg name="camera_topic" value="recv_image_camera"/>
    <arg name="hector_topic" value="recv_image_hector"/>

    <!-- Bool for structure evaluation -->
    <arg name="enable" value="False"/>
    <arg name="enable_reply_ticks" value="True"/>
  </include>

  <!-- Joystick controls publisher -->
  <include file="src/command_node/launch/command_node.launch">
    <arg name="twist_topic" value="joy_twist"/>
    <arg name="empty_topic" value="joy_empty"/>
    <arg name="update_interval" value=".15"/>
    <arg name="a_down_minimum_delta" value="2"/> <!-- in seconds -->
  </include>

  <!-- CV2 Image Views for incoming images -->
  <include file="src/cv2_imageview_node/launch/cv2_imageview.launch">
    <arg name="hector_display_width" value="200"/>
    <arg name="camera_display_width" value="400"/>

    <arg name="camera_topic" value="recv_image_camera"/>
    <arg name="hector_topic" value="recv_image_hector"/>

    <arg name="camera_window_name" value="Camera View"/>
    <arg name="hector_window_name" value="LIDAR Local Map"/>
  </include>

  <!-- Status node -->
  <include file="src/status_node/launch/status.launch">
  </include>
</launch>
