<launch>
    <arg name="control_info_topic" default = "control_info"/>
    <arg name="pir_string_topic" default = "pir_string"/>

    <node pkg="status_node" type="status_node.py" name="status_node" output="screen">
        <param name = "~control_info_topic" value = "$(arg control_info_topic)"/>
        <param name = "~pir_string_topic" value = "$(arg pir_string_topic)"/>
    </node>
</launch>