<launch>
    <arg name="twist_topic" default="joy_twist"/>
    <arg name="empty_topic" default="joy_empty"/>
    <arg name="update_rate" default="500"/>
    <arg name="a_down_minimum_delta" default="2000"/>

    <node pkg="command_node" type="command_node.py" name="command_node" output="screen">
        <param name="~twist_topic" value="$(arg twist_topic)"/>
        <param name="~empty_topic" value="$(arg empty_topic)"/>
        <param name="~update_rate" value="$(arg update_rate)"/>
        <param name="~a_down_minimum_delta" value="$(arg a_down_minimum_delta)"/>
    </node>
</launch>